
.jumbotron
{
	margin-top: 20px;
	justify-content:space-between;
	background-color: #F8F9FA;
	border-radius:20px;
	float: right;
}

#almonzo-img
{
	border: 3px solid black;
	margin-bottom: 10px;
	
}

body
{
	font-size: 20px;
}


.card
{
	width:100%;
	text-align: center;
	margin-bottom:10px;
	margin: 0 auto;
}

/* Space background loop - do not touch*/
#myVideo 
{
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -2;
  }

  /* Media Query for phones */
@media only screen and (max-width: 767px) 
{

#almonzo-img
{
	width:100%;
}

.contact-ipad
{
	width:auto;
}

}

  /* Media Query for screens larger than 992px */

  @media only screen and (max-width: 600px) 
{
	.jumbotron
	{
		width:100px;
    }
}

@media only screen and (min-width: 768px) 
{
	.jumbotron
	{
		width:100%;
    }

	p
	{
		padding-top: 10px;
	}
}




@media only screen and (min-width: 992px) 
{
	.jumbotron
	{
		width:38%;
    }

	

	.jumbotron-2
	{
		margin-right:35px;
	}



}
