/* Contact CSS*/ 


.form-check
{
   position: relative;
   right:20px;
}

.form-control-1
{
    width:100%;
    height:100px;
}



  @media only screen and (max-width: 768px) 
{
	.jumbotron
	{
		float: right
	}
	.contact-ipad
	{
		width:auto;
	}


}