/* Contact CSS*/ 


.form-check
{
   position: relative;
   right:20px;
}

.form-control-1
{
    width:100%;
    height:100px;
}



@media only screen and (max-width: 600px) 
{
	#GitBtn
{
	
	margin-bottom:2px;
}

}
  @media only screen and (max-width: 768px) 
{
	.jumbotron
	{
		float: right;
	}
	.contact-ipad
	{
		width:auto;
	}


}

	 @media only screen and (max-width: 768px) 
{
	.jumbotron
	{
		float: right;
	}
	.contact-ipad
	{
		width:auto;
	}


}



@media only screen and (min-width: 992px) 
{
	
	.jumbotron-1
	{
		margin-right:20px;
	}

}


