/* Centering page */
*
{
	margin: 2px;
}

.navbar
{
	margin-top: 10px;
	border-radius: 10px;
}

.nav-link
{
	 float: right; 
}

/* Media Query for screens larger than 992px */

@media only screen and (min-width: 992px) 
{
	.navbar
{
	margin-top: 10px;
	border-radius: 10px;
	height: 40px;
}


	.navbar-brand
	{
	  padding-right: 700px;
	}

	.nav-link
	{
		font-size:20px;
	}

}