/* Portfolio CSS */

/* Added Google font Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

/* Universal settings */
*
{
	box-sizing: border-box;
}

body
{
	font-size: 20px;
}



.container
{
	flex-direction: column;
	display: flex;
	align-items: flex-end;
}

.jumbotron
{
	height:auto;
	font-family: 'Times New Roman', Times, serif;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
} 

h2
{
	animation: glow 1s ease-in-out infinite alternate;
	color:white;
}

/* Projects Display */
.Box-1
{
	border: 1px solid black;
	background-image: url('../images/testing-app.png');
	background-size: cover;
    width: 300px;
	height:200px;
}

.Box-2
{
	border: 1px solid black;
	background-image: url('../images/book-app.png');
	background-size: cover;
    width: 300px;
	height:200px;
}

.Box-3
{
	border: 1px solid black;
	background-image: url('../images/weather-app.png');
	background-size: cover;
    width: 300px;
	height:200px;
}

.Box-4
{
	border: 1px solid black;
	background-image: url('../images/burger-project.PNG');
	background-size: cover;
    width: 300px;
	height:200px;
}

.Box-5
{
	border: 1px solid black;
	background-image: url('../images/day-planner.PNG');
	background-size: cover;
    width: 300px;
	height:200px;
}

.Box-6
{
	border: 1px solid black;
	background-image: url('../images/Fitness-planner.PNG');
	background-size: cover;
    width: 300px;
	height:200px;
}

.card
{
	width:100%;
	text-align: center;
	margin-bottom:10px;
}

.zoom 
{
	transition: transform .2s; /* Animation */
}

.zoom:hover 
{
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  
/* Media Query for Ipads */
@media only screen and (max-width: 768px) 
{
	.ipad
	{
		float: right;
		width: 290px;
	}

	.container
{
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

}


/* Media Query for screens larger than 992px */
@media only screen and (min-width: 992px) 
{
	.jumbotron
	{
		width: 400px;
		
	}

}
  
/* Glowing text - do not touch */
@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px  black, 0 0 20px black, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
  }