/* Portfolio CSS */

/* Added Google font Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

/* Universal settings */

body
{
	font-size: 20px;
}

/* May fix alignment issue I have  */

/* .container
{
	float: right;
	flex-direction: column;
} */

.jumbotron
{
	/* Why is width in this component affecting another?  */
	width: 290px;
	height:auto;
	font-family: 'Times New Roman', Times, serif;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin:20px;
}

h2
{
	animation: glow 1s ease-in-out infinite alternate;
	color:white;
}

/* Projects Display */
.box-1
{
	border: 1px solid black;
	background-image: url('../images/testing-app.png');
	background-size: cover;
    width: 300px;
	height:200px;
}

.box-2
{
	border: 1px solid black;
	background-image: url('../images/book-app.png');
	background-size: cover;
    width: 300px;
	height:200px;
}

.box-3
{
	border: 1px solid black;
	background-image: url('../images/weather-app.png');
	background-size: cover;
    width: 300px;
	height:200px;
}

.box-4
{
	border: 1px solid black;
	background-image: url('../images/burger-project.PNG');
	background-size: cover;
    width: 300px;
	height:200px;
}

.card
{
	width:100%;
	text-align: center;
	margin-bottom:10px;
}


/* Media Query for screens larger than 992px */
  
/* Glowing text - do not touch */
@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px  black, 0 0 20px black, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
  }